{% extends 'initial/index.html' %}

{% load static %}

{% block title %}
About
{% endblock %}

{% block content %}
<section id="about" class="py-12">
    <!-- Bg Shapes -->

    <!-- Section Title Start -->
    <div class="flex flex-col items-center justify-center my-4 space-y-4 animate_top">
      <h2 class="text-4xl sm:text-6xl font-bold text-gray-900 text-center">
        Meet Our Officers
      </h2>
      <p class="text-lg text-gray-600 text-center">Springville Gardens 2 Homeowners Association, Inc.</p>
  </div>
    <!-- Section Title End -->
      <div class="py-12 flex flex-wrap justify-center gap-8">

          <div class="animate_top flex flex-col items-center">
            <div class="relative w-96 h-96 overflow-hidden rounded-xl">
                <img class="w-full h-full object-cover bg-white" src="{% static 'images/officers/president.jpg' %}" alt="President Arnel">
              <div class="absolute bottom-0 left-0 w-full bg-green-500 bg-opacity-80 text-white text-center py-2">
                <h4 class="font-bold text-2xl">Arnel R. Dandoy</h4>
                <p>President</p>
              </div>
            </div>
          </div>
          
          <div class="animate_top flex flex-col items-center">
            <div class="relative w-96 h-96 overflow-hidden rounded-xl">
                <img class="w-full h-full object-cover bg-white" src="{% static 'images/officers/vicepresident.jpg' %}" alt="Vice President Annabel">
              <div class="absolute bottom-0 left-0 w-full bg-green-500 bg-opacity-80 text-white text-center py-2">
                <h4 class="font-bold text-2xl">Annabel T. Valentin</h4>
                <p>Vice President</p>
              </div>
            </div>
          </div>
          
          <div class="animate_top flex flex-col items-center">
            <div class="relative w-96 h-96 overflow-hidden rounded-xl">
                <img class="w-full h-full object-cover bg-white" src="{% static 'images/officers/secretary.jpg' %}" alt="Secretary Meann">
              <div class="absolute bottom-0 left-0 w-full bg-green-500 bg-opacity-80 text-white text-center py-2">
                <h4 class="font-bold text-2xl">Meann L. Ilagan</h4>
                <p>Secretary</p>
              </div>
            </div>
          </div>
          
          <div class="animate_top flex flex-col items-center">
            <div class="relative w-96 h-96 overflow-hidden rounded-xl">
                <img class="w-full h-full object-cover bg-white" src="{% static 'images/officers/treasurer.jpg' %}" alt="Treasurer Emily">
              <div class="absolute bottom-0 left-0 w-full bg-green-500 bg-opacity-80 text-white text-center py-2">
                <h4 class="font-bold text-2xl">Emily G. Castillo</h4>
                <p>Treasurer</p>
              </div>
            </div>
          </div>
          
          <div class="animate_top flex flex-col items-center">
            <div class="relative w-96 h-96 overflow-hidden rounded-xl">
                <img class="w-full h-full object-cover bg-white" src="{% static 'images/officers/auditor.jpg' %}" alt="Auditor Maria Corazon">
              <div class="absolute bottom-0 left-0 w-full bg-green-500 bg-opacity-80 text-white text-center py-2">
                <h4 class="font-bold text-2xl">Ma. Corazon C. Almazan</h4>
                <p>Auditor</p>
              </div>
            </div>
          </div>
          
          <div class="animate_top flex flex-col items-center">
            <div class="relative w-96 h-96 overflow-hidden rounded-xl">
                <img class="w-full h-full object-cover bg-white" src="{% static 'images/officers/pro.jpg' %}" alt="P.R.O. Julieta">
              <div class="absolute bottom-0 left-0 w-full bg-green-500 bg-opacity-80 text-white text-center py-2">
                <h4 class="font-bold text-2xl">Julieta P. Ling</h4>
                <p>P.R.O.</p>
              </div>
            </div>
          </div>
          
      </div>
    
    
    
  </section>

<section id="contact" class="py-12">
    <!-- Bg Shapes -->

    <!-- Section Title Start -->
     <!-- Section Title Start -->
    <div class="flex flex-col items-center justify-center my-4 space-y-4 animate_top">
      <h2 class="text-4xl sm:text-6xl font-bold text-gray-900 text-center">
        Let’s Stay Connected
      </h2>
      <p class="text-lg text-gray-600 text-center">Feel free to give us a message! We would love to answer all your inquiries.</p>
  </div>
    <!-- Section Title End -->

    <div class="i va bb ye ki xn wq jb mo">
      <div class="tc uf sn tf rn un zf xl:gap-10">
        <div class="animate_top w-full mn/5 to/3 vk sg hh sm yh rq i pg">
          <!-- Bg Shapes -->

          <div class="fb">
            <h4 class="wj kk wm cc">Email Address</h4>
            <p>svg2hoa@gmail.com</p>
          </div>
          <div class="fb">
            <h4 class="wj kk wm cc">Office Location</h4>
            <p>Blk 9, Lot 1, Carnation St., Springville Gardens 2, Molino 3, Bacoor, Cavite</p>
          </div>
          <div class="fb">
            <h4 class="wj kk wm cc">Phone Number</h4>
            <p><a href="#">+63 908 9530 802</a></p>
          </div>

          <span class="rc nd rh tm lc fb"></span>

          <div>
            <h4 class="wj kk wm qb">Social Media</h4>
            <ul class="tc wf fg">
              <li>
                <a href="https://www.facebook.com/SpringvilleGardens2HOA" class="c tc wf xf ie ld rg ml il hover:bg-green-600">
                  <svg class="th lm ml il" width="11" height="20" viewBox="0 0 11 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M6.83366 11.3752H9.12533L10.042 7.7085H6.83366V5.87516C6.83366 4.931 6.83366 4.04183 8.667 4.04183H10.042V0.96183C9.74316 0.922413 8.61475 0.833496 7.42308 0.833496C4.93433 0.833496 3.16699 2.35241 3.16699 5.14183V7.7085H0.416992V11.3752H3.16699V19.1668H6.83366V11.3752Z"
                      fill=""
                    />
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </div>

        <div class="animate_top w-full nn/5 vo/3 vk sg hh sm yh tq">
          <!-- Display success message -->
          {% if messages %}
              <div class="my-4 text-center">
                  {% for message in messages %}
                      <div class="p-4 text-white bg-green-500 rounded-lg shadow-md">
                          {{ message }}
                      </div>
                  {% endfor %}
              </div>
          {% endif %}
      
          <form method="post" action="{% url 'about' %}">
              {% csrf_token %}
              <div class="tc sf yo ap zf ep qb">
                  <div class="vd to/2">
                      <label class="rc ac" for="name">Full name</label>
                      <input id="name" name="name" type="text" placeholder="Full Name" class="vd ph sg zk xm _g ch pm hm dm dn em pl/50 xi mi"/>
                  </div>
      
                  <div class="vd to/2">
                      <label class="rc ac" for="email">Email address</label>
                      <input id="email" name="email" type="email" placeholder="example@gmail.com" class="vd ph sg zk xm _g ch pm hm dm dn em pl/50 xi mi"/>
                  </div>
              </div>
      
              <div class="tc sf yo ap zf ep qb">
                  <div class="vd to/2">
                      <label class="rc ac" for="phone_number">Phone number</label>
                      <input id="phone_number" name="phone_number" type="text" placeholder="+63 945 862 9406" class="vd ph sg zk xm _g ch pm hm dm dn em pl/50 xi mi"/>
                  </div>
      
                  <div class="vd to/2">
                      <label class="rc ac" for="title">Subject</label>
                      <input id="title" name="title" type="text" placeholder="Type your subject" class="vd ph sg zk xm _g ch pm hm dm dn em pl/50 xi mi"/>
                  </div>
              </div>
              
              <div class="fb">
                  <label class="rc ac" for="message">Message</label>
                  <textarea id="message" name="message" placeholder="Message" rows="4" class="vd ph sg zk xm _g ch pm hm dm dn em pl/50 ci"></textarea>
              </div>
      
              <div class="tc xf">
                  <button type="submit">
                      <span class="bg-green-500 p-4 rounded-3xl text-white hover:bg-green-300">Send Message</span>
                  </button>
              </div>
          </form>
      </div>
      
      </div>
    </div>
</section>

<section id="faqs" class="py-12">
  <!-- Bg Shapes -->

  <!-- Section Title Start -->
  <div class="flex flex-col items-center justify-center my-4 space-y-4 animate_top">
    <h2 class="text-4xl sm:text-6xl font-bold text-gray-900 text-center">
      Frequently Asked Questions
    </h2>
    <p class="text-lg text-gray-600 text-center">Interested? Read some of our FAQs to know more about our system.</p>
</div>

    <div class="px-4 mx-auto sm:px-6 lg:px-8 max-w-7xl animate_top">
      <div class="max-w-3xl mx-auto mt-8 space-y-4 md:mt-16">
        <div class="transition-all duration-200 bg-white border border-gray-200 shadow-lg cursor-pointer hover:bg-gray-50">
            <button type="button" id="question1" data-state="closed" class="flex items-center justify-between w-full px-4 py-5 sm:p-6">
                <span class="flex text-lg font-semibold text-black text-left w-full">How can I get started?</span>
                <svg id="arrow1" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-6 h-6 text-gray-400">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
                </svg>
            </button>
            <div id="answer1" style="display:none" class="px-4 pb-5 sm:px-6 sm:pb-6">
                <p class="text-left">Getting started is easy! If you are a homeowner of Springville Gardens 2, you can sign up for an account, and you will have access to our platform's features.</p>
            </div>
        </div>
        <div class="transition-all duration-200 bg-white border border-gray-200 shadow-lg cursor-pointer hover:bg-gray-50">
            <button type="button" id="question2" data-state="closed" class="flex items-center justify-between w-full px-4 py-5 sm:p-6">
                <span class="flex text-lg font-semibold text-black text-left w-full">Can I sign up even though I am not a homeowner?</span>
                <svg id="arrow2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-6 h-6 text-gray-400">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
                </svg>
            </button>
            <div id="answer2" style="display:none" class="px-4 pb-5 sm:px-6 sm:pb-6">
                <p class="text-left">Unfortunately, no. Our platform is exclusive to our homeowners only.</p>
            </div>
        </div>
        <div class="transition-all duration-200 bg-white border border-gray-200 shadow-lg cursor-pointer hover:bg-gray-50">
            <button type="button" id="question3" data-state="closed" class="flex items-center justify-between w-full px-4 py-5 sm:p-6">
                <span class="flex text-lg font-semibold text-black text-left w-full">What kind of support do you provide?</span>
                <svg id="arrow3" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-6 h-6 text-gray-400">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
                </svg>
            </button>
            <div id="answer3" style="display:none" class="px-4 pb-5 sm:px-6 sm:pb-6">
                <p class="text-left">We offer comprehensive customer support. You can reach out to our support team through various channels, including email, chat, and a knowledge base. Our office is also open from 2:00 PM to 5:00 PM in the afternoon.</p>
            </div>
        </div>
        <div class="transition-all duration-200 bg-white border border-gray-200 shadow-lg cursor-pointer hover:bg-gray-50">
            <button type="button" id="question4" data-state="closed" class="flex items-center justify-between w-full px-4 py-5 sm:p-6">
                <span class="flex text-lg font-semibold text-black text-left w-full">Who are the homeowners eligible for sign up?</span>
                <svg id="arrow4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-6 h-6 text-gray-400">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
                </svg>
            </button>
            <div id="answer4" style="display:none" class="px-4 pb-5 sm:px-6 sm:pb-6">
                <p class="text-left">Household owners are the only ones eligible for signing up. In case of unprecedented circumstances, a proxy may create an account in the stead of the household owner. However, necessary documents must be submitted.</p>
            </div>
        </div>
    </div>
    
        <p class="text-center text-gray-600 textbase mt-9">
            Still have questions?
            <span class="cursor-pointer font-medium text-tertiary transition-all duration-200 hover:text-tertiary focus:text-tertiary hover-underline">
                <a href="#contact" class="hover:text-green-600">Contact
                our support.</a>
            </span>
        </p>
    </div>
    <script>
        // JavaScript to toggle the answers and rotate the arrows
        document.querySelectorAll('[id^="question"]').forEach(function(button, index) {
            button.addEventListener('click', function() {
                var answer = document.getElementById('answer' + (index + 1));
                var arrow = document.getElementById('arrow' + (index + 1));

                if (answer.style.display === 'none' || answer.style.display === '') {
                    answer.style.display = 'block';
                    arrow.style.transform = 'rotate(0deg)';
                } else {
                    answer.style.display = 'none';
                    arrow.style.transform = 'rotate(-180deg)';
                }
            });
        });
    </script>
</section>
{% endblock content%}