{% extends "member/base.html" %}

{% block title %}
Dashboard
{% endblock %}

{% block content %}
<div class="px-4 pt-16 sm:ml-64">
    <div class="p-4 dark:border-gray-700">

        <div class="grid grid-cols-1 sm:grid-cols-2 gap-6 my-4">
            <div class="grid col-span-1 grid-cols-1 sm:grid-cols-2 gap-6">
                <div class="flex col-span-2 flex-col items-center justify-center animate_top">
                    <h2 class="text-4xl sm:text-6xl font-bold text-gray-900 text-center">
                        Welcome, {{ request.user.fname }}!
                    </h2>
                    <p class="text-lg text-gray-600 text-center">
                        Stay updated with your household activities and manage your tasks seamlessly.
                    </p>
                </div>
                <div class="bg-white shadow-lg col-span-2 rounded-lg p-6 flex justify-between items-center">
                    <div>
                        <h2 class="text-md sm:text-3xl font-semibold text-gray-800 ">Registered Residents</h2>
                        <p class="text-5xl font-bold text-black">{{ household_count }}</p>
                    </div>
                    <div class="text-4xl text-green-700">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-12 sm:size-20">
                            <path fill-rule="evenodd"
                                d="M8.25 6.75a3.75 3.75 0 1 1 7.5 0 3.75 3.75 0 0 1-7.5 0ZM15.75 9.75a3 3 0 1 1 6 0 3 3 0 0 1-6 0ZM2.25 9.75a3 3 0 1 1 6 0 3 3 0 0 1-6 0ZM6.31 15.117A6.745 6.745 0 0 1 12 12a6.745 6.745 0 0 1 6.709 7.498.75.75 0 0 1-.372.568A12.696 12.696 0 0 1 12 21.75c-2.305 0-4.47-.612-6.337-1.684a.75.75 0 0 1-.372-.568 6.787 6.787 0 0 1 1.019-4.38Z"
                                clip-rule="evenodd" />
                            <path
                                d="M5.082 14.254a8.287 8.287 0 0 0-1.308 5.135 9.687 9.687 0 0 1-1.764-.44l-.115-.04a.563.563 0 0 1-.373-.487l-.01-.121a3.75 3.75 0 0 1 3.57-4.047ZM20.226 19.389a8.287 8.287 0 0 0-1.308-5.135 3.75 3.75 0 0 1 3.57 4.047l-.01.121a.563.563 0 0 1-.373.486l-.115.04c-.567.2-1.156.349-1.764.441Z" />
                        </svg>
                    </div>
                </div>
                <div class="bg-white shadow-lg col-span-2 sm:col-span-1 rounded-lg p-6 flex justify-between items-center">
                    <div>
                        <h2 class="text-md sm:text-xl font-semibold text-gray-800 ">Pending Reservations</h2>
                        <p class="text-5xl font-bold text-red-800">{{ reservation_count }}</p>
                    </div>
                    <div class="text-cyan-700 flex items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-12 sm:size-20">
                            <path fill-rule="evenodd"
                                d="M7.502 6h7.128A3.375 3.375 0 0 1 18 9.375v9.375a3 3 0 0 0 3-3V6.108c0-1.505-1.125-2.811-2.664-2.94a48.972 48.972 0 0 0-.673-.05A3 3 0 0 0 15 1.5h-1.5a3 3 0 0 0-2.663 1.618c-.225.015-.45.032-.673.05C8.662 3.295 7.554 4.542 7.502 6ZM13.5 3A1.5 1.5 0 0 0 12 4.5h4.5A1.5 1.5 0 0 0 15 3h-1.5Z"
                                clip-rule="evenodd" />
                            <path fill-rule="evenodd"
                                d="M3 9.375C3 8.339 3.84 7.5 4.875 7.5h9.75c1.036 0 1.875.84 1.875 1.875v11.25c0 1.035-.84 1.875-1.875 1.875h-9.75A1.875 1.875 0 0 1 3 20.625V9.375ZM6 12a.75.75 0 0 1 .75-.75h.008a.75.75 0 0 1 .75.75v.008a.75.75 0 0 1-.75.75H6.75a.75.75 0 0 1-.75-.75V12Zm2.25 0a.75.75 0 0 1 .75-.75h3.75a.75.75 0 0 1 0 1.5H9a.75.75 0 0 1-.75-.75ZM6 15a.75.75 0 0 1 .75-.75h.008a.75.75 0 0 1 .75.75v.008a.75.75 0 0 1-.75.75H6.75a.75.75 0 0 1-.75-.75V15Zm2.25 0a.75.75 0 0 1 .75-.75h3.75a.75.75 0 0 1 0 1.5H9a.75.75 0 0 1-.75-.75ZM6 18a.75.75 0 0 1 .75-.75h.008a.75.75 0 0 1 .75.75v.008a.75.75 0 0 1-.75.75H6.75a.75.75 0 0 1-.75-.75V18Zm2.25 0a.75.75 0 0 1 .75-.75h3.75a.75.75 0 0 1 0 1.5H9a.75.75 0 0 1-.75-.75Z"
                                clip-rule="evenodd" />
                        </svg>
                    </div>
                </div>
                <div class="bg-white shadow-lg col-span-2 sm:col-span-1 rounded-lg p-6 flex justify-between items-center">
                    <div>
                        <h2 class="text-md sm:text-xl font-semibold text-gray-800 ">Pending Requests</h2>
                        <p class="text-5xl font-bold text-red-800">{{ request_count }}</p>
                    </div>
                    <div class="text-yellow-600 flex items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-12 sm:size-20">
                            <path fill-rule="evenodd"
                                d="M12 6.75a5.25 5.25 0 0 1 6.775-5.025.75.75 0 0 1 .313 1.248l-3.32 3.319c.063.475.276.934.641 1.299.365.365.824.578 1.3.64l3.318-3.319a.75.75 0 0 1 1.248.313 5.25 5.25 0 0 1-5.472 6.756c-1.018-.086-1.87.1-2.309.634L7.344 21.3A3.298 3.298 0 1 1 2.7 16.657l8.684-7.151c.533-.44.72-1.291.634-2.309A5.342 5.342 0 0 1 12 6.75ZM4.117 19.125a.75.75 0 0 1 .75-.75h.008a.75.75 0 0 1 .75.75v.008a.75.75 0 0 1-.75.75h-.008a.75.75 0 0 1-.75-.75v-.008Z"
                                clip-rule="evenodd" />
                            <path
                                d="m10.076 8.64-2.201-2.2V4.874a.75.75 0 0 0-.364-.643l-3.75-2.25a.75.75 0 0 0-.916.113l-.75.75a.75.75 0 0 0-.113.916l2.25 3.75a.75.75 0 0 0 .643.364h1.564l2.062 2.062 1.575-1.297Z" />
                            <path fill-rule="evenodd"
                                d="m12.556 17.329 4.183 4.182a3.375 3.375 0 0 0 4.773-4.773l-3.306-3.305a6.803 6.803 0 0 1-1.53.043c-.394-.034-.682-.006-.867.042a.589.589 0 0 0-.167.063l-3.086 3.748Zm3.414-1.36a.75.75 0 0 1 1.06 0l1.875 1.876a.75.75 0 1 1-1.06 1.06L15.97 17.03a.75.75 0 0 1 0-1.06Z"
                                clip-rule="evenodd" />
                        </svg>
                    </div>
                </div>
                <div class="bg-white shadow-lg col-span-2 sm:col-span-1 rounded-lg p-6 flex justify-between items-center">
                    <div>
                        <h2 class="text-md sm:text-xl font-semibold text-gray-800 ">Pending Appointments</h2>
                        <p class="text-5xl font-bold text-red-800">{{ appointment_count }}</p>
                    </div>
                    <div class="text-blue-900 flex items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-12 sm:size-20">
                            <path
                                d="M4.913 2.658c2.075-.27 4.19-.408 6.337-.408 2.147 0 4.262.139 6.337.408 1.922.25 3.291 1.861 3.405 3.727a4.403 4.403 0 0 0-1.032-.211 50.89 50.89 0 0 0-8.42 0c-2.358.196-4.04 2.19-4.04 4.434v4.286a4.47 4.47 0 0 0 2.433 3.984L7.28 21.53A.75.75 0 0 1 6 21v-4.03a48.527 48.527 0 0 1-1.087-.128C2.905 16.58 1.5 14.833 1.5 12.862V6.638c0-1.97 1.405-3.718 3.413-3.979Z" />
                            <path
                                d="M15.75 7.5c-1.376 0-2.739.057-4.086.169C10.124 7.797 9 9.103 9 10.609v4.285c0 1.507 1.128 2.814 2.67 2.94 1.243.102 2.5.157 3.768.165l2.782 2.781a.75.75 0 0 0 1.28-.53v-2.39l.33-.026c1.542-.125 2.67-1.433 2.67-2.94v-4.286c0-1.505-1.125-2.811-2.664-2.94A49.392 49.392 0 0 0 15.75 7.5Z" />
                        </svg>
                    </div>
                </div>
                <div class="bg-white shadow-lg col-span-2 sm:col-span-1 rounded-lg p-6 flex justify-between items-center">
                    <div>
                        <h2 class="text-md sm:text-xl font-semibold text-gray-800 ">Overdues</h2>
                        <p class="text-5xl font-bold text-red-800">{{ overdue_count }}</p>
                    </div>
                    <div class="text-teal-800 flex items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-12 sm:size-20">
                            <path d="M12 7.5a2.25 2.25 0 1 0 0 4.5 2.25 2.25 0 0 0 0-4.5Z" />
                            <path fill-rule="evenodd"
                                d="M1.5 4.875C1.5 3.839 2.34 3 3.375 3h17.25c1.035 0 1.875.84 1.875 1.875v9.75c0 1.036-.84 1.875-1.875 1.875H3.375A1.875 1.875 0 0 1 1.5 14.625v-9.75ZM8.25 9.75a3.75 3.75 0 1 1 7.5 0 3.75 3.75 0 0 1-7.5 0ZM18.75 9a.75.75 0 0 0-.75.75v.008c0 .414.336.75.75.75h.008a.75.75 0 0 0 .75-.75V9.75a.75.75 0 0 0-.75-.75h-.008ZM4.5 9.75A.75.75 0 0 1 5.25 9h.008a.75.75 0 0 1 .75.75v.008a.75.75 0 0 1-.75.75H5.25a.75.75 0 0 1-.75-.75V9.75Z"
                                clip-rule="evenodd" />
                            <path
                                d="M2.25 18a.75.75 0 0 0 0 1.5c5.4 0 10.63.722 15.6 2.075 1.19.324 2.4-.558 2.4-1.82V18.75a.75.75 0 0 0-.75-.75H2.25Z" />
                        </svg>
                    </div>
                </div>
            </div>
            
            <div class="grid col-span-1 grid-cols-1 sm:grid-cols-1 gap-6">
                <div class="shadow-lg col-span-1 rounded-lg bg-green-800 p-8">
                    <div class="uppercase tracking-wide text-3xl sm:text-5xl text-white font-semibold justify-center mb-8 flex items-center w-full">
                        <h1>Announcement</h1>
                        <span class="ml-4">
                            <svg height="50px" width="50px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 500.34 500.34" xml:space="preserve"
                                fill="#000000">
                                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                                <g id="SVGRepo_iconCarrier">
                                    <polygon style="fill:#ED5B3A;" points="140.34,484 473.94,264 236.34,26.4 16.34,360 ">
                                    </polygon>
                                    <polygon style="fill:#EADAEA;" points="291.54,131.2 68.34,355.2 57.14,344 246.74,85.6 ">
                                    </polygon>
                                    <g>
                                        <path style="fill:#D32A0F;"
                                            d="M153.94,471.2c7.2,7.2,8,18.4,1.6,24.8l0,0c-6.4,6.4-17.6,5.6-24.8-1.6L5.94,369.6 c-7.2-7.2-8-18.4-1.6-24.8l0,0c6.4-6.4,17.6-5.6,24.8,1.6L153.94,471.2z">
                                        </path>
                                        <path style="fill:#D32A0F;"
                                            d="M490.74,247.2c7.2,7.2,8,18.4,1.6,24.8l0,0c-6.4,6.4-17.6,5.6-24.8-1.6L229.94,32.8 c-7.2-7.2-8-18.4-1.6-24.8l0,0c6.4-6.4,17.6-5.6,24.8,1.6L490.74,247.2z">
                                        </path>
                                        <path style="fill:#D32A0F;"
                                            d="M369.14,434.4l-52.8,38.4c-39.2,28.8-94.4,20-123.2-19.2l-4.8-7.2c-28.8-39.2-20-94.4,19.2-123.2 l52.8-38.4c39.2-28.8,94.4-20,123.2,19.2l4.8,7.2C417.14,350.4,408.34,406.4,369.14,434.4z M227.54,352c-24,16.8-28.8,50.4-12,74.4 l5.6,7.2c16.8,24,50.4,28.8,74.4,12l52.8-38.4c24-16.8,28.8-50.4,12-74.4l-4.8-7.2c-16.8-24-50.4-28.8-74.4-12L227.54,352z">
                                        </path>
                                        <polygon style="fill:#D32A0F;" points="238.74,28 236.34,26.4 229.14,36.8 ">
                                        </polygon>
                                        <polygon style="fill:#D32A0F;"
                                            points="89.14,432 140.34,484 473.94,264 365.94,155.2 "></polygon>
                                    </g>
                                    <g>
                                        <path style="fill:#F29233;"
                                            d="M429.94,138.4c-3.2,0-5.6-4.8-5.6-8l0,0c0-3.2,2.4-8,5.6-8h64.8c3.2,0,5.6,4.8,5.6,8l0,0 c0,3.2-2.4,8-5.6,8H429.94z">
                                        </path>
                                        <path style="fill:#F29233;"
                                            d="M429.14,87.2c-2.4,2.4-7.2,0.8-9.6-1.6l0,0c-2.4-2.4-4-7.2-1.6-9.6l45.6-45.6 c2.4-2.4,7.2-0.8,9.6,1.6l0,0c2.4,2.4,4,7.2,1.6,9.6L429.14,87.2z">
                                        </path>
                                        <path style="fill:#F29233;"
                                            d="M361.94,70.4c0,3.2,4.8,5.6,8,5.6l0,0c3.2,0,8-2.4,8-5.6V5.6c0-3.2-4.8-5.6-8-5.6l0,0 c-3.2,0-8,2.4-8,5.6V70.4z">
                                        </path>
                                    </g>
                                </g>
                            </svg>
                        </span>
                    </div>
                    <div class="flex flex-wrap justify-center w-full">
                        {% if latest_announcement %}
                            {% if latest_announcement.image %}
                            <!-- Image Section -->
                            <div class="w-full md:w-1/2 p-4 flex justify-center md:justify-end">
                                <img class="w-full h-64 object-cover md:h-full rounded-xl"
                                    src="{{ latest_announcement.image.url }}" alt="{{ latest_announcement.title }}">
                            </div>
                            <!-- Table Section -->
                            <div class="w-full md:w-1/2 p-4 flex items-start justify-center">
                                {% else %}
                                <!-- Centered Table Section without Image -->
                                <div class="w-full mt-18 flex items-start justify-center">
                                {% endif %}
                                <table class="w-half text-2xl items-start table-fixed">
                                    <tr class="items-start">
                                        <th class="font-semibold text-white text-left px-1 pb-4 align-top"> Who:</th>
                                        <td class="text-white text-left px-1 pb-4 align-top">{{ latest_announcement.who }}</td>
                                    </tr>
                                    <tr class="items-start">
                                        <th class="font-semibold text-white text-left px-1 pb-4 align-top"> What:</th>
                                        <td class="text-white text-left px-1 pb-4 align-top">{{ latest_announcement.what }}</td>
                                    </tr>
                                    <tr class="items-start">
                                        <th class="font-semibold text-white text-left px-1 pb-4 align-top"> Where:</th>
                                        <td class="text-white text-left px-1 pb-4 align-top">{{ latest_announcement.where }}</td>
                                    </tr>
                                    <tr class="items-start">
                                        <th class="font-semibold text-white text-left px-1 pb-4 align-top"> Date:</th>
                                        <td class="text-white text-left px-1 pb-4 align-top">{{ latest_announcement.date }}</td>
                                    </tr>
                                    <tr class="items-start">
                                        <th class="font-semibold text-white text-left px-1 pb-4 align-top"> Time:</th>
                                        <td class="text-white text-left px-1 pb-4 align-top">{{ latest_announcement.time }}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        {% else %}
                        <div class="animate_top sm:h-64 h-24 text-lg sm:text-3xl text-gray-400 font-semibold justify-center mb-8 inline-flex items-center w-full">
                            <h1>No recent announcements.</h1>
                        </div>
                    </div>
                    {% endif %}
                    </div>
                    <div class="col-span-1 rounded-lg flex justify-between items-center">
                        <!-- Note Section (bottom right) -->
                        <div class="flex justify-end w-full">
                            <div class="bg-white shadow-md rounded-lg w-full h-screen" style="max-height: 40vh;">
                                <div class="flex justify-between items-center rounded-t-lg bg-green-700">
                                    <h3 class="text-lg font-semibold text-gray-50 ml-2 p-2">Notes</h3>
                                    <button onclick="openAddNoteModal()"
                                        class="text-gray-50 text-3xl mb-1 font-bold rounded-full w-8 h-8 flex items-center justify-center hover:text-gray-900">
                                        +
                                    </button>
                                </div>
                                <ul class="overflow-y-auto p-2" style="max-height: calc(50vh - 56px);">
                                    {% for note in user_notes %}
                                    <li class="mb-2 p-2 bg-green-100 rounded flex justify-between items-center">
                                        <div>
                                            <div class="text-gray-900">{{ note.content }} <br></div>
                                            <small class="text-gray-500">{{ note.created_at|date:"M d, Y H:i" }}</small>
                                        </div>
                                        <button onclick="openDeleteNoteModal('{{ note.id }}')" class="text-red-600 hover:text-red-500">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
                                                <path fill-rule="evenodd" d="M16.5 4.478v.227a48.816 48.816 0 0 1 3.878.512.75.75 0 1 1-.256 1.478l-.209-.035-1.005 13.07a3 3 0 0 1-2.991 2.77H8.084a3 3 0 0 1-2.991-2.77L4.087 6.66l-.209.035a.75.75 0 0 1-.256-1.478A48.567 48.567 0 0 1 7.5 4.705v-.227c0-1.564 1.213-2.9 2.816-2.951a52.662 52.662 0 0 1 3.369 0c1.603.051 2.815 1.387 2.815 2.951Zm-6.136-1.452a51.196 51.196 0 0 1 3.273 0C14.39 3.05 15 3.684 15 4.478v.113a49.488 49.488 0 0 0-6 0v-.113c0-.794.609-1.428 1.364-1.452Zm-.355 5.945a.75.75 0 1 0-1.5.058l.347 9a.75.75 0 1 0 1.499-.058l-.346-9Zm5.48.058a.75.75 0 1 0-1.498-.058l-.347 9a.75.75 0 0 0 1.5.058l.345-9Z" clip-rule="evenodd" />
                                            </svg>
                                        </button>
                                    </li>
                                    {% empty %}
                                    <p class="ml-2">No notes yet.</p>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>

                        <!-- Modal for adding a new note -->
                        <div id="noteModal"
                            class="fixed inset-0 bg-black bg-opacity-50 hidden flex items-center justify-center z-50">
                            <div class="bg-white rounded-lg p-6 shadow-lg w-11/12 sm:w-1/3 max-w-md">
                                <h3 class="text-xl font-semibold text-gray-800 mb-4">Add Note</h3>
                                <form method="POST" action="{% url 'member_landing_page' username=request.user.username %}">
                                    {% csrf_token %}
                                    <label for="content" class="block text-md font-medium leading-6 text-gray-900">Content:</label>
                                    <div class="my-4">
                                        <textarea id="content" name="content" rows="3"
                                            class="block w-full p-2 rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-green-600 sm:text-sm sm:leading-6"></textarea>
                                    </div>
                                    <div class="flex justify-center gap-6 mt-8">
                                        <button type="submit">
                                            <span
                                                class="font-medium text-green-600 rounded-md p-2 px-6 bg-green-200 dark:bg-green-200 dark:text-green-800 hover:bg-green-300">Add</span>
                                        </button>
                                        <button type="button" onclick="closeAddNoteModal()">
                                            <span class="bg-gray-300 text-black px-4 py-2 rounded hover:bg-gray-400">Cancel</span>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>


                        <!-- Modal for deleting a note -->
                        <div id="noteDeleteModal"
    class="fixed inset-0 bg-black bg-opacity-50 hidden flex items-center justify-center z-50">
    <div class="bg-white rounded-lg p-6 shadow-lg w-11/12 sm:w-1/3 max-w-md">
        <h3 class="text-xl font-semibold text-gray-800 mb-4">Delete Note</h3>
        <p class="text-gray-600">Are you sure you want to delete this note?</p>
        <form method="POST" id="deleteNoteForm">
            {% csrf_token %}
            <div class="flex justify-center gap-6 mt-8">
                <button type="submit">
                    <span
                        class="font-medium text-red-600 rounded-md p-2 px-4 bg-red-200 dark:bg-red-200 dark:text-red-800 hover:bg-red-300">Delete</span>
                </button>
                <button type="button" onclick="closeDeleteNoteModal()">
                    <span class="bg-gray-300 text-black px-4 py-2 rounded hover:bg-gray-400">Cancel</span>
                </button>
            </div>
        </form>
    </div>
</div>

                    </div>

                    <script>
                        const noteModal = document.getElementById('noteModal');
                        const noteDeleteModal = document.getElementById('noteDeleteModal');
                        const deleteNoteForm = document.getElementById('deleteNoteForm');

                        function openAddNoteModal() {
                            noteModal.classList.remove('hidden');
                        }

                        function closeAddNoteModal() {
                            noteModal.classList.add('hidden');
                        }

                        function openDeleteNoteModal(noteId) {
                            const username = '{{ request.user.username }}';  // Use template context to get username
                            deleteNoteForm.action = `/${username}/dashboard/delete_note/${noteId}/`;  // Set the form action
                            noteDeleteModal.classList.remove('hidden');
                        }

                        function closeDeleteNoteModal() {
                            noteDeleteModal.classList.add('hidden');
                        }

                        // Close modals when clicking outside of them
                        window.addEventListener('click', (event) => {
                            if (event.target === noteModal) {
                                closeAddNoteModal();
                            } else if (event.target === noteDeleteModal) {
                                closeDeleteNoteModal();
                            }
                        });
                    </script>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}