{% extends "officer/officer_base.html" %}
{% load static %}
{% block title %}
News & Notices
{% endblock title %}
{% block content %}

<div class="px-4 pt-16 sm:ml-64">
  <div class="p-4">

    <div class="container mx-auto pt-8">
      <div class="flex flex-col md:flex-row gap-6">

        <!-- Announcements Section -->
        <div class="w-full md:w-1/2 bg-white shadow-lg rounded-lg p-6 flex flex-col">
          <div class="w-full flex flex-wrap justify-center sm:justify-between sm:gap-x-8  items-center mb-4">
            <div class="flex">
              <h3 class="text-4xl font-semibold leading-7 text-gray-900">Announcement</h3>
              <span class="ml-2">
                <svg height="30px" width="30px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 500.34 500.34" xml:space="preserve"
              fill="#000000">
              <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
              <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
              <g id="SVGRepo_iconCarrier">
                <polygon style="fill:#ED5B3A;" points="140.34,484 473.94,264 236.34,26.4 16.34,360 "></polygon>
                <polygon style="fill:#EADAEA;" points="291.54,131.2 68.34,355.2 57.14,344 246.74,85.6 "></polygon>
                <g>
                  <path style="fill:#D32A0F;"
                    d="M153.94,471.2c7.2,7.2,8,18.4,1.6,24.8l0,0c-6.4,6.4-17.6,5.6-24.8-1.6L5.94,369.6 c-7.2-7.2-8-18.4-1.6-24.8l0,0c6.4-6.4,17.6-5.6,24.8,1.6L153.94,471.2z">
                  </path>
                  <path style="fill:#D32A0F;"
                    d="M490.74,247.2c7.2,7.2,8,18.4,1.6,24.8l0,0c-6.4,6.4-17.6,5.6-24.8-1.6L229.94,32.8 c-7.2-7.2-8-18.4-1.6-24.8l0,0c6.4-6.4,17.6-5.6,24.8,1.6L490.74,247.2z">
                  </path>
                  <path style="fill:#D32A0F;"
                    d="M369.14,434.4l-52.8,38.4c-39.2,28.8-94.4,20-123.2-19.2l-4.8-7.2c-28.8-39.2-20-94.4,19.2-123.2 l52.8-38.4c39.2-28.8,94.4-20,123.2,19.2l4.8,7.2C417.14,350.4,408.34,406.4,369.14,434.4z M227.54,352c-24,16.8-28.8,50.4-12,74.4 l5.6,7.2c16.8,24,50.4,28.8,74.4,12l52.8-38.4c24-16.8,28.8-50.4,12-74.4l-4.8-7.2c-16.8-24-50.4-28.8-74.4-12L227.54,352z">
                  </path>
                  <polygon style="fill:#D32A0F;" points="238.74,28 236.34,26.4 229.14,36.8 "></polygon>
                  <polygon style="fill:#D32A0F;" points="89.14,432 140.34,484 473.94,264 365.94,155.2 "></polygon>
                </g>
                <g>
                  <path style="fill:#F29233;"
                    d="M429.94,138.4c-3.2,0-5.6-4.8-5.6-8l0,0c0-3.2,2.4-8,5.6-8h64.8c3.2,0,5.6,4.8,5.6,8l0,0 c0,3.2-2.4,8-5.6,8H429.94z">
                  </path>
                  <path style="fill:#F29233;"
                    d="M429.14,87.2c-2.4,2.4-7.2,0.8-9.6-1.6l0,0c-2.4-2.4-4-7.2-1.6-9.6l45.6-45.6 c2.4-2.4,7.2-0.8,9.6,1.6l0,0c2.4,2.4,4,7.2,1.6,9.6L429.14,87.2z">
                  </path>
                  <path style="fill:#F29233;"
                    d="M361.94,70.4c0,3.2,4.8,5.6,8,5.6l0,0c3.2,0,8-2.4,8-5.6V5.6c0-3.2-4.8-5.6-8-5.6l0,0 c-3.2,0-8,2.4-8,5.6V70.4z">
                  </path>
                </g>
              </g>
            </svg>
              </span>
            </div>
            <a href="{% url 'create_announcement' user.username %}"
              class="bg-green-700 hover:bg-green-600 text-white font-bold px-5 py-2 my-4 sm:m-0 rounded-lg flex items-center space-x-2">
              <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="w-6 h-6">
                <path fill-rule="evenodd"
                  d="M12 3.75a.75.75 0 0 1 .75.75v6.75h6.75a.75.75 0 0 1 0 1.5h-6.75v6.75a.75.75 0 0 1-1.5 0v-6.75H4.5a.75.75 0 0 1 0-1.5h6.75V4.5a.75.75 0 0 1 .75-.75Z"
                  clip-rule="evenodd" />
              </svg>
              <span>New</span>
            </a>
          </div>

          <div class="flex-1 space-y-4 overflow-y-auto">
            {% for announcement in announcements %}
            <!-- Announcement Entry -->
            <div class="w-full border-b pb-4 flex flex-col sm:flex-row sm:items-start gap-4 relative">
              {% if announcement.image %}
              <img class="w-full sm:w-1/3 min-h-full sm:h-auto sm:min-h-full rounded-xl object-cover"
                src="{{ announcement.image.url }}" alt="{{ announcement.title }}">
              {% endif %}
              <div class="flex-1 flex flex-col justify-between min-h-full">
                <div>
                  <h3 class="font-bold text-lg sm:text-2xl text-green-900 text-wrap">
                    {{ announcement.who }}: {{ announcement.what }}
                  </h3>
                  <p class="text-md sm:text-lg text-gray-700">Where: {{ announcement.where }}</p>
                  <p class="text-md sm:text-lg text-gray-700">Date: {{ announcement.date }}</p>
                  <p class="text-md sm:text-lg text-gray-700">Time: {{ announcement.time }}</p>
                </div>
                <div class="absolute bottom-4 right-0 flex gap-2">
                  <a href="{% url 'update_announcement' user.username announcement.pk %}"
                    class="text-gray-700 hover:text-gray-500 font-bold rounded-lg flex items-center space-x-2">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
                      <path
                        d="M21.731 2.269a2.625 2.625 0 0 0-3.712 0l-1.157 1.157 3.712 3.712 1.157-1.157a2.625 2.625 0 0 0 0-3.712ZM19.513 8.199l-3.712-3.712-12.15 12.15a5.25 5.25 0 0 0-1.32 2.214l-.8 2.685a.75.75 0 0 0 .933.933l2.685-.8a5.25 5.25 0 0 0 2.214-1.32L19.513 8.2Z" />
                    </svg>
                  </a>
                  <button onclick="openDeleteAnnouncementModal('{{ announcement.id }}')"
                    class="text-red-700 hover:text-red-500 font-bold rounded-lg flex items-center space-x-2">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
                      <path fill-rule="evenodd"
                        d="M16.5 4.478v.227a48.816 48.816 0 0 1 3.878.512.75.75 0 1 1-.256 1.478l-.209-.035-1.005 13.07a3 3 0 0 1-2.991 2.77H8.084a3 3 0 0 1-2.991-2.77L4.087 6.66l-.209.035a.75.75 0 0 1-.256-1.478A48.567 48.567 0 0 1 7.5 4.705v-.227c0-1.564 1.213-2.9 2.816-2.951a52.662 52.662 0 0 1 3.369 0c1.603.051 2.815 1.387 2.815 2.951Zm-6.136-1.452a51.196 51.196 0 0 1 3.273 0C14.39 3.05 15 3.684 15 4.478v.113a49.488 49.488 0 0 0-6 0v-.113c0-.794.609-1.428 1.364-1.452Zm-.355 5.945a.75.75 0 1 0-1.5.058l.347 9a.75.75 0 1 0 1.499-.058l-.346-9Zm5.48.058a.75.75 0 1 0-1.498-.058l-.347 9a.75.75 0 0 0 1.5.058l.345-9Z"
                        clip-rule="evenodd" />
                    </svg>
                  </button>
                </div>
                <div id="announcementDeleteModal"
                  class="fixed inset-0 bg-black bg-opacity-50 hidden flex items-center justify-center z-50">
                  <div class="bg-white rounded-lg p-6 shadow-lg w-1/3 max-w-md">
                    <h3 class="text-xl font-semibold text-gray-800 mb-4">Delete News</h3>
                    <p class="text-gray-600">Are you sure you want to delete this news?</p>
                    <form method="POST" id="deleteAnnouncementForm">
                      {% csrf_token %}
                      <div class="flex justify-center gap-6 mt-8">
                        <button type="submit"
                          class="font-medium text-red-600 rounded-md p-2 px-4 bg-red-200 dark:bg-red-200 dark:text-red-800 hover:bg-red-300">Delete</button>
                        <button type="button" onclick="closeDeleteAnnouncementModal()"
                          class="bg-gray-300 text-black px-4 py-2 rounded hover:bg-gray-400">Cancel</button>
                      </div>
                    </form>
                  </div>
                </div>

                <script>
                  function openDeleteAnnouncementModal(announcementId) {
                    const modal = document.getElementById('announcementDeleteModal');
                    const form = document.getElementById('deleteAnnouncementForm');
                    form.action = `delete-announcement/${announcementId}/`; // Adjust URL dynamically
                    modal.classList.remove('hidden');
                  }

                  function closeDeleteAnnouncementModal() {
                    const modal = document.getElementById('announcementDeleteModal');
                    modal.classList.add('hidden');
                  }
                </script>
              </div>
            </div>
            {% empty %}
            <div class="text-center h-full py-8">
              <h3 class="text-lg font-semibold leading-7 text-gray-500">No announcements.</h3>
            </div>
            {% endfor %}
          </div>

          <!-- Pagination at the bottom -->
           {% for announcement in announcements %}
          <div class="pagination flex justify-center items-center mt-4">
            <nav class="flex items-center justify-center text-gray-700">
              <!-- Invisible placeholder for alignment -->
              <div class="text-center flex">
                {% if page_obj_announcements.has_previous %}
                <a href="?page_announcements=1" class="px-3 py-2 text-2xl font-bold rounded hover:bg-gray-200"> &laquo;
                </a>
                <a href="?page_announcements={{ page_obj_announcements.previous_page_number }}"
                  class="px-3 py-2 text-2xl font-bold rounded hover:bg-gray-200">&#8249;</a>
                {% endif %}
              </div>
              <p class="px-3 py-2 font-medium rounded">{{ page_obj_announcements.number }} / {{ page_obj_announcements.paginator.num_pages }}</p>
              <!-- Invisible placeholder for alignment -->
              <div class="text-center flex">
                {% if page_obj_announcements.has_next %}
                <a href="?page_announcements={{ page_obj_announcements.next_page_number }}"
                  class="px-3 py-2 text-2xl font-bold rounded hover:bg-gray-200">
                  &#8250;
                </a>
                <a href="?page_announcements={{ page_obj_announcements.paginator.num_pages }}"
                  class="px-3 py-2 text-2xl font-bold rounded hover:bg-gray-200">
                  &raquo;
                </a>
                {% endif %}
              </div>
            </nav>
          </div>
          {% endfor %}
        </div>

        <div class="w-full md:w-1/2 bg-white shadow-lg rounded-lg p-6 flex flex-col">
          <div class="w-full flex flex-wrap justify-center sm:justify-between items-center gap-x-24 mb-4">
            <div class="flex">
              <h3 class="text-4xl font-semibold leading-7 text-gray-900">News Articles</h3>
            </div>
            <a href="{% url 'add_news' username=user.username %}"
              class="bg-green-700 hover:bg-green-600 text-white font-bold px-5 py-2 my-4 sm:m-0 rounded-lg flex items-center space-x-2">
              <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="w-6 h-6">
                <path fill-rule="evenodd"
                  d="M12 3.75a.75.75 0 0 1 .75.75v6.75h6.75a.75.75 0 0 1 0 1.5h-6.75v6.75a.75.75 0 0 1-1.5 0v-6.75H4.5a.75.75 0 0 1 0-1.5h6.75V4.5a.75.75 0 0 1 .75-.75Z"
                  clip-rule="evenodd" />
              </svg>
              <span>New</span>
            </a>
          </div>

          <div class="flex-1 space-y-4 overflow-y-auto">
            {% for newsfeed in newsfeeds %}
            <!-- Announcement Entry -->
            <div class="w-full border-b py-4 flex flex-col sm:flex-row sm:items-start gap-4 relative">
              {% if newsfeed.image %}
              <img class="w-full sm:w-1/3 min-h-full sm:h-auto sm:min-h-full rounded-xl object-cover"
                src="{{ newsfeed.image.url }}" alt="{{ newsfeed.title }}">
              {% endif %}
              <div class="flex-1 flex flex-col justify-between min-h-full">
                <div>
                  <a href="{% url 'news_single' user.username newsfeed.id %}" class="font-bold text-lg sm:text-2xl text-green-900 hover:text-green-700">
                    {{ newsfeed.title|truncatechars:33 }}
                </a>
                  <p class="text-md text-gray-700 truncate w-80">{{ newsfeed.description }}</p>
                  <p class="text-md text-gray-700">Author: {{ newsfeed.written_by.fname }} {{ newsfeed.written_by.lname }}</p>
                  <p class="text-md text-gray-700">Date: {{ newsfeed.created_at|date:"F j, Y" }}</p>
                </div>
                <div class="absolute bottom-4 right-0 flex gap-2">
                  <a href="{% url 'edit_news' user.username newsfeed.id %}"
                    class="text-gray-700 hover:text-gray-500 font-bold rounded-lg flex items-center space-x-2">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
                      <path
                        d="M21.731 2.269a2.625 2.625 0 0 0-3.712 0l-1.157 1.157 3.712 3.712 1.157-1.157a2.625 2.625 0 0 0 0-3.712ZM19.513 8.199l-3.712-3.712-12.15 12.15a5.25 5.25 0 0 0-1.32 2.214l-.8 2.685a.75.75 0 0 0 .933.933l2.685-.8a5.25 5.25 0 0 0 2.214-1.32L19.513 8.2Z" />
                    </svg>
                  </a>
                  <button onclick="openDeleteNewsModal('{{ newsfeed.id }}')"
                    class="text-red-700 hover:text-red-500 font-bold rounded-lg flex items-center space-x-2">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
                      <path fill-rule="evenodd"
                        d="M16.5 4.478v.227a48.816 48.816 0 0 1 3.878.512.75.75 0 1 1-.256 1.478l-.209-.035-1.005 13.07a3 3 0 0 1-2.991 2.77H8.084a3 3 0 0 1-2.991-2.77L4.087 6.66l-.209.035a.75.75 0 0 1-.256-1.478A48.567 48.567 0 0 1 7.5 4.705v-.227c0-1.564 1.213-2.9 2.816-2.951a52.662 52.662 0 0 1 3.369 0c1.603.051 2.815 1.387 2.815 2.951Zm-6.136-1.452a51.196 51.196 0 0 1 3.273 0C14.39 3.05 15 3.684 15 4.478v.113a49.488 49.488 0 0 0-6 0v-.113c0-.794.609-1.428 1.364-1.452Zm-.355 5.945a.75.75 0 1 0-1.5.058l.347 9a.75.75 0 1 0 1.499-.058l-.346-9Zm5.48.058a.75.75 0 1 0-1.498-.058l-.347 9a.75.75 0 0 0 1.5.058l.345-9Z"
                        clip-rule="evenodd" />
                    </svg>
                  </button>
                </div>
                <div id="newsDeleteModal"
                  class="fixed inset-0 bg-black bg-opacity-50 hidden flex items-center justify-center z-50">
                  <div class="bg-white rounded-lg p-6 shadow-lg w-1/3 max-w-md">
                    <h3 class="text-xl font-semibold text-gray-800 mb-4">Delete News</h3>
                    <p class="text-gray-600">Are you sure you want to delete this news?</p>
                    <form method="POST" id="deleteNewsfeedForm">
                      {% csrf_token %}
                      <div class="flex justify-center gap-6 mt-8">
                        <button type="submit"
                          class="font-medium text-red-600 rounded-md p-2 px-4 bg-red-200 dark:bg-red-200 dark:text-red-800 hover:bg-red-300">Delete</button>
                        <button type="button" onclick="closeDeleteNewsModal()"
                          class="bg-gray-300 text-black px-4 py-2 rounded hover:bg-gray-400">Cancel</button>
                      </div>
                    </form>
                  </div>
                </div>

                <script>
                  function openDeleteNewsModal(newsfeedId) {
                    const modal = document.getElementById('newsDeleteModal');
                    const form = document.getElementById('deleteNewsfeedForm');
                    form.action = `delete-news/${newsfeedId}/`; // Adjust URL dynamically
                    modal.classList.remove('hidden');
                  }

                  function closeDeleteNewsModal() {
                    const modal = document.getElementById('newsDeleteModal');
                    modal.classList.add('hidden');
                  }
                </script>
              </div>
            </div>
            {% empty %}
            <div class="text-center h-full py-8">
              <h3 class="text-lg font-semibold leading-7 text-gray-500">No news article.</h3>
            </div>
            {% endfor %}
            {% for newsfeed in newsfeeds %}
          <div class="pagination flex justify-center items-center mt-4">
            <nav class="flex items-center justify-center text-gray-700">
              <!-- Invisible placeholder for alignment -->
              <div class="text-center flex">
                {% if page_obj_newsfeeds.has_previous %}
                <a href="?page_newsfeeds=1" class="px-3 py-2 text-2xl font-bold rounded hover:bg-gray-200"> &laquo; </a>
                <a href="?page_newsfeeds={{ page_obj_newsfeeds.previous_page_number }}"
                  class="px-3 py-2 text-2xl font-bold rounded hover:bg-gray-200">&#8249;</a>
                {% endif %}
              </div>
              <p class="px-3 py-2 font-medium rounded">{{ page_obj_newsfeeds.number }} / {{ page_obj_newsfeeds.paginator.num_pages }}</p>
              <!-- Invisible placeholder for alignment -->
              <div class="text-center flex">
                {% if page_obj_newsfeeds.has_next %}
                <a href="?page_newsfeeds={{ page_obj_newsfeeds.next_page_number }}"
                  class="px-3 py-2 text-2xl font-bold rounded hover:bg-gray-200">
                  &#8250;
                </a>
                <a href="?page_newsfeeds={{ page_obj_newsfeeds.paginator.num_pages }}"
                  class="px-3 py-2 text-2xl font-bold rounded hover:bg-gray-200">
                  &raquo;
                </a>
                {% endif %}
              </div>
            </nav>
          </div>
          {% endfor %}<!-- Pagination at the bottom -->
          </div>
        </div>


      </div>
    </div>
  </div>
</div>

{% endblock %}