{% extends 'officer/officer_base.html' %}

{% load static %}

{% block title %}
Service Request List
{% endblock title %}

{% block content %}
<div class="px-4 pt-16 sm:ml-64">
    <div class="p-4 dark:border-gray-700">
        <div class="w-full flex flex-wrap items-center justify-between sm:inline-block mt-4 mb-4">
            <div class="w-full sm:w-auto text-center sm:text-left">
                <h3 class="text-3xl font-semibold leading-7 text-gray-900 mr-5">
                    Appointments
                  </h3>
            </div>
        </div>
        <div class="w-full flex flex-wrap items-center justify-between sm:flex-start mt-4 mb-2">
            <div class="w-full sm:w-auto mt-4 mb-4 sm:mt-0 flex flex-wrap items-center gap-4 justify-center sm:justify-start">
                <form method="GET" action="" class="w-full sm:w-auto">
                    <div class="relative">
                        <input type="text" name="search" value="{{ search_query }}"
                            class="block w-full px-4 py-2 text-sm text-gray-900 bg-gray-50 border border-gray-300 rounded-lg focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white"
                            placeholder="Search">
                        <button type="submit" class="absolute right-0 top-0 mt-2 mr-2">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                                class="size-6">
                                <path fill-rule="evenodd"
                                    d="M10.5 3.75a6.75 6.75 0 1 0 0 13.5 6.75 6.75 0 0 0 0-13.5ZM2.25 10.5a8.25 8.25 0 1 1 14.59 5.28l4.69 4.69a.75.75 0 1 1-1.06 1.06l-4.69-4.69A8.25 8.25 0 0 1 2.25 10.5Z"
                                    clip-rule="evenodd" />
                            </svg>
                        </button>
                    </div>
                </form>
                </div>
                <form method="GET" action="" class="w-full sm:w-auto">
                    <div class="flex items-center justify-between">
                        <label for="sort" class="mr-2">Sort by:</label>
                        <select name="sort" id="sort"
                            class="px-4 py-1 pr-9 rounded-md dark:bg-gray-700 dark:border-gray-600 dark:text-white"
                            onchange="this.form.submit()">
                            <option value="household" {% if sort_by == 'household' %}selected{% endif %}>Name</option>
                            <option value="appointment_type" {% if sort_by == 'appointment_type' %}selected{% endif %}>Appointment Type</option>
                            <option value="subject" {% if sort_by == 'subject' %}selected{% endif %}>Subject</option>
                            <option value="reservation_date" {% if sort_by == 'reservation_date' %}selected{% endif %}>Reservation Date</option>
                            <option value="updated_at" {% if sort_by == 'updated_at' %}selected{% endif %}>Submitted</option>
                            <option value="status" {% if sort_by == 'status' %}selected{% endif %}>Status</option>
                        </select>
                        <button type="submit" name="direction"
                            value="{% if direction == 'asc' %}desc{% else %}asc{% endif %}"
                            class="ml-2 px-4 py-2 text-gray-500 hover:text-gray-700">
                            {% if direction == 'asc' %}
                            Ascending ↑
                            {% else %}
                            Descending ↓
                            {% endif %}
                        </button>
                    </div>
                </form>
            </div>
        
            <div class="relative shadow-md sm:rounded-lg rounded-lg overflow-hidden">
                <div class="overflow-x-auto">
                <table class="w-full text-sm text-center text-gray-500 dark:text-gray-400">
                    <thead
                        class="text-md text-white uppercase bg-green-700 dark:bg-gray-700 dark:text-gray-400">
                        <tr>
                        <th scope="col" class="px-6 py-3 bg-green-700 dark:bg-gray-700 w-1/8 rounded-tl-lg">
                            Name
                        </th>
                        <th scope="col" class="px-6 py-3 bg-green-700 dark:bg-gray-700 w-1/8">
                            Appointment Type
                        </th>
                        <th scope="col" class="px-6 py-3 bg-green-700 dark:bg-gray-700 w-1/8">
                            Subject
                        </th>
                        <th scope="col" class="px-6 py-3 bg-green-700 dark:bg-gray-700 w-1/8">
                            Reservation Date
                        </th>
                        <th scope="col" class="px-6 py-3 bg-green-700 dark:bg-gray-700 w-1/8">
                            Submitted
                        </th>
                        <th scope="col" class="px-6 py-3 bg-green-700 dark:bg-gray-700 w-1/8">
                            Status
                        </th>
                        <th scope="col" class="px-6 py-3 bg-green-700 dark:bg-gray-700 w-1/8 rounded-tr-lg">
                            Action
                        </th>
                    </tr>
                </thead>
                <tbody class="bg-white dark:bg-gray-800">
                        {% for grievanceappointment in grievance_appointments %}
                        <tr class="bg-white text-gray-700 border-b border-gray-200 dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                <a href="{% url 'view_appointment' user.username grievanceappointment.id %}" class="font-medium hover:text-blue-600">
                                    {{ grievanceappointment.household.owner_name.fname }} {{ grievanceappointment.household.owner_name.lname }}
                                </th>
                                <td class="px-6 py-4">
                                    {{ grievanceappointment.appointment_type }}
                                </td>
                                <td class="px-6 py-4">
                                    {{ grievanceappointment.subject }}
                                </td>
                                <td class="px-6 py-4">
                                    {{ grievanceappointment.reservation_date }}
                                </td>
                                <td class="px-6 py-4">
                                    {{ grievanceappointment.updated_at }}
                                </td>
                                <td class="px-6 py-4">
                                    {{ grievanceappointment.status }}
                            </td>
                            <td class="px-2 py-4">
                                <a href="{% url 'update_appointment_status' user.username grievanceappointment.id %}" class="font-medium text-blue-600 rounded-md p-2 px-4 bg-blue-100 dark:bg-blue-200 dark:text-blue-800 hover:bg-blue-300">Update</a>
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="7" class="px-6 py-4 text-gray-500 dark:text-gray-400">
                                No appointments found.
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="mt-6 flex justify-center space-x-4">
            {% if grievance_appointments.has_previous %}
            <a href="?page={{ grievance_appointments.previous_page_number }}" class="px-4 py-2 text-gray-900 rounded hover:text-blue-600">
              Previous
            </a>
            {% endif %}
          
            {% for page_num in grievance_appointments.paginator.page_range %}
              {% if grievance_appointments.number == page_num %}
              <span class="px-4 py-2 bg-blue-500 text-white rounded">{{ page_num }}</span>
              {% else %}
              <a href="?page={{ page_num }}" class="px-4 py-2 text-gray-900 rounded hover:bg-gray-300">
                {{ page_num }}
              </a>
              {% endif %}
            {% endfor %}
          
            {% if grievance_appointments.has_next %}
            <a href="?page={{ grievance_appointments.next_page_number }}" class="px-4 py-2 text-gray-900 rounded hover:text-blue-600">
              Next
            </a>
            {% endif %}
          </div>

    </div>
</div>
{% endblock %}

